@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mexins';
@import 'global';
@import 'libs';

// подумать про снипед плагинов

// .header-fixed {
//     background-color: $silver;
// }



.menu {
    &__btn {
        display: none;
    }
    // font-size: 1.6rem;
}

// написал на фонарь потом подправить
.dropdown__select {
    background-color: transparent;
    border: none;
    cursor: pointer;
    // color: $white;
}


.jq-selectbox__trigger-arrow {
    top: -4px;
    right: -22px;
    position: absolute;
    padding: 10px;
    background-position: center;
    background-image: url(../images/icons/angle-down.svg);
    background-repeat: no-repeat;
    cursor: pointer;

    // border: none;
    @media (max-width: 992px) {
        transform: rotate(270deg);
    }
}


.dropdown__select {
    max-width: 200px;
    min-width: 50px;
}


.jq-selectbox__dropdown ul {
    background-color: red;
    overflow-x: visible;
    overflow: visible;
    top: 5px;
    border: 1px solid red;
}

.jq-selectbox__dropdown li {
    background-color: white;
    // border: 1px solid black;
    color: orange;
    padding: 10px;
    text-align: center;
    transition: color 0.5s;

    &:focus {
        // color: $black;
    }

    &:hover {
        // background-color: $black;
    }

    &:active {
        // color: $active;
    }
}

.jq-selectbox__select-text {
    transition: color 0.5s;

    &:focus {
        // color: $black;
    }

    &:hover {
        // color: $black;
    }

    &:active {
        // color: $active;
    }
}

// звезды
.jq-ry-container {
    margin: 0 auto rem(25);
}

/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $black;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

